body {
    background-color: #1B1B1E;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 400px;
    background-color: #1B1B1E;
    margin: 5%;
    padding: 5px;
}

.window {
    display: flex;
    flex-direction: row;
}

.scoreField {
    position: relative;
    background-color: #373F51;
    color: #58A4B0;
    width: 80px;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 10px;
    border-top-color: rgba(255,255,255,0.5);
    border-left-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(0,0,0,0.6);
    border-right-color: rgba(0,0,0,0.6);
    left: -50px;
}

.gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 26px);
    grid-template-rows: repeat(20, 26px);
}

.box {
    height: 25px;
    width: 25px;
    background-color: #373F51;
    border: 1px solid #58A4B0;
}

.piece-1,.piece-2,.piece-3,.piece-4,.piece-5,.piece-6,.piece-7,.piece-8 {
    height: 22px;
    width: 22px;
    border-width: 3px;
    border-top-color: rgba(255,255,255,0.5);
    border-left-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(0,0,0,0.6);
    border-right-color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

.piece-1 {
    background-color: yellow;
}

.piece-2 {
    background-color: green;
}

.piece-3 {
    background-color: red;
}

.piece-4 {
    background-color: purple;
}

.piece-5 {
    background-color: orange;
}

.piece-6 {
    background-color: blue;
}

.piece-7 {
    background-color: aqua;
}

.piece-8 {
    background-color: rgb(141, 141, 141);
}

.inPlace {
    height: 22px;
    width: 22px;
    border-width: 3px;
    border-top-color: rgba(255,255,255,0.8);
    border-left-color: rgba(255,255,255,0.8);
    border-bottom-color: rgba(0,0,0,0.8);
    border-right-color: rgba(0,0,0,0.8);
}

.upcoming {
    margin: 5px;
}

.hold {
    margin-left: 5px;
}

.upcomingField {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(4, 26px);
    grid-template-rows: repeat(4, 26px);
}

.extras h3 {
    color: #58A4B0;
}

.extras {
    position: relative;
    top: -90px;
}